{
  "openapi": "3.1.0",
  "info": {
    "title": "NC Zoning Data API",
    "version": "0.3.0",
    "description": "Read-only API serving the NC Zoning Board mod registry (Cyberpunk 2077 location mods) to in-game mods and the website. Every response is wrapped in a versioned envelope. Coordinates are raw CET world values [X, Y, Z], usable in-game with no transform. The JSON stays DTO-mappable for the in-game RedData parser: no arrays-of-arrays, property names are case-sensitive. See https://github.com/nczoning/nc-zoning-board for the project.",
    "contact": { "name": "NC Zoning Board", "url": "https://nczoning.net" }
  },
  "servers": [
    { "url": "https://api.nczoning.net", "description": "Production" },
    { "url": "https://api-dev.nczoning.net", "description": "Staging" }
  ],
  "paths": {
    "/v1/health": {
      "get": {
        "summary": "Liveness + deployed version + cron heartbeat",
        "description": "Uncached (no-store). Reads only the small meta record for the cron heartbeat. status is \"ok\" whenever the Worker answers; last_refresh_at is the moment the 5-minute refresh cron last RAN (stamped every cycle, unlike the content-driven generated_at on the envelope), and refresh_age_seconds is its server-computed age. Both are null before the first cron tick. A heartbeat that stops advancing means the cron has wedged and the API is silently serving stale data.",
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": {
              "allOf": [{ "$ref": "#/components/schemas/Envelope" }, { "type": "object", "properties": {
                "data": { "type": "object", "properties": {
                  "status": { "type": "string", "const": "ok" },
                  "version": { "type": "string", "example": "0.3.0", "description": "SemVer for the API surface. The API is currently PRE-1.0 and the rules are inverted while it is: breaking changes bump MINOR, additive changes bump PATCH, and the path stays /v1 throughout (SemVer permits breaking changes before 1.0). Do not pin to /v1 alone - read this field and pin to a shape you have seen. From 1.0.0, which returns when the first in-game mod ships, the usual rules resume: MINOR on an additive field or route, MAJOR on a break (which also moves /v1 to /v2), PATCH on a behaviour fix. Note 0.3.0 is numerically lower than the 1.3.0 recent deploys served; that is a deliberate rollback, not a downgrade. Distinct from dataset_version (a content hash) and from the in-game NCZoningCore mod's ApiVersion() integer, which gates only on breaking changes." },
                  "last_refresh_at": { "type": ["string", "null"], "format": "date-time", "description": "When the refresh cron last ran (heartbeat), or null before the first tick." },
                  "refresh_age_seconds": { "type": ["integer", "null"], "description": "Server-computed age of last_refresh_at in seconds, or null before the first tick. A clock-free freshness read for the in-game consumer." }
                } } } }]
            } } }
          }
        }
      }
    },
    "/v1/locations": {
      "get": {
        "summary": "All locations",
        "description": "The workhorse: every location as a full record (all fields incl. description, credits, Nexus image URLs, and the recently_updated bool) in one array. There is a single representation; ?full=1 is accepted as a no-op alias for older consumers. Consumers derive any aggregate (district/category counts, recency counts) by grouping these records. Supports conditional GET: send If-None-Match with the last dataset_version to get a 304.",
        "parameters": [
          { "name": "full", "in": "query", "required": false, "schema": { "type": "string", "enum": ["1"] }, "description": "Accepted as a no-op alias (the response is always the full record). Retained so existing consumers that pass full=1 keep working." },
          { "$ref": "#/components/parameters/IfNoneMatch" }
        ],
        "responses": {
          "200": {
            "description": "The location array (LocationFull[]).",
            "headers": { "ETag": { "$ref": "#/components/headers/ETag" }, "Cache-Control": { "$ref": "#/components/headers/CacheControl" } },
            "content": { "application/json": { "schema": {
              "allOf": [{ "$ref": "#/components/schemas/Envelope" }, { "type": "object", "properties": {
                "data": { "type": "array", "items": { "$ref": "#/components/schemas/LocationFull" } } } }]
            } } }
          },
          "304": { "$ref": "#/components/responses/NotModified" },
          "503": { "$ref": "#/components/responses/NotReady" }
        }
      }
    },
    "/v1/locations/{id}": {
      "get": {
        "summary": "One location (full)",
        "description": "Full entry including description and credits.",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Location id: a UUID (manual) or nexus-<nexus_id> (auto-discovered).", "example": "nexus-27618" },
          { "$ref": "#/components/parameters/IfNoneMatch" }
        ],
        "responses": {
          "200": {
            "description": "The full location entry.",
            "headers": { "ETag": { "$ref": "#/components/headers/ETag" }, "Cache-Control": { "$ref": "#/components/headers/CacheControl" } },
            "content": { "application/json": { "schema": {
              "allOf": [{ "$ref": "#/components/schemas/Envelope" }, { "type": "object", "properties": {
                "data": { "$ref": "#/components/schemas/LocationFull" } } }]
            } } }
          },
          "304": { "$ref": "#/components/responses/NotModified" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "503": { "$ref": "#/components/responses/NotReady" }
        }
      }
    },
    "/v1/districts": {
      "get": {
        "summary": "District/subdistrict hierarchy",
        "description": "9 districts and their subdistricts, with centroids and FLATTENED boundary rings ([x1,y1,x2,y2,...]) in CET coordinates. Anywhere outside every district polygon is Badlands (the game default), so a location's district is never null.",
        "parameters": [{ "$ref": "#/components/parameters/IfNoneMatch" }],
        "responses": {
          "200": {
            "description": "The district hierarchy.",
            "headers": { "ETag": { "$ref": "#/components/headers/ETag" }, "Cache-Control": { "$ref": "#/components/headers/CacheControl" } },
            "content": { "application/json": { "schema": {
              "allOf": [{ "$ref": "#/components/schemas/Envelope" }, { "type": "object", "properties": {
                "data": { "type": "array", "items": { "$ref": "#/components/schemas/District" } } } }]
            } } }
          },
          "304": { "$ref": "#/components/responses/NotModified" },
          "503": { "$ref": "#/components/responses/NotReady" }
        }
      }
    },
    "/v1/tags": {
      "get": {
        "summary": "Tag dictionary",
        "description": "Map of tag id → human description. The allow-list a location's tags are drawn from.",
        "parameters": [{ "$ref": "#/components/parameters/IfNoneMatch" }],
        "responses": {
          "200": {
            "description": "Tag dictionary.",
            "headers": { "ETag": { "$ref": "#/components/headers/ETag" }, "Cache-Control": { "$ref": "#/components/headers/CacheControl" } },
            "content": { "application/json": { "schema": {
              "allOf": [{ "$ref": "#/components/schemas/Envelope" }, { "type": "object", "properties": {
                "data": { "type": "object", "additionalProperties": { "type": "string" }, "example": { "apartment": "A residence you can enter", "corpo": "Corporate aesthetic" } } } }]
            } } }
          },
          "304": { "$ref": "#/components/responses/NotModified" },
          "503": { "$ref": "#/components/responses/NotReady" }
        }
      }
    },
    "/v1/meta": {
      "get": {
        "summary": "Dataset metadata",
        "description": "Operational health flags (discovery_stale, skipped). dataset_version and generated_at live on the envelope.",
        "parameters": [{ "$ref": "#/components/parameters/IfNoneMatch" }],
        "responses": {
          "200": {
            "description": "Dataset metadata.",
            "headers": { "ETag": { "$ref": "#/components/headers/ETag" }, "Cache-Control": { "$ref": "#/components/headers/CacheControl" } },
            "content": { "application/json": { "schema": {
              "allOf": [{ "$ref": "#/components/schemas/Envelope" }, { "type": "object", "properties": {
                "data": { "$ref": "#/components/schemas/Meta" } } }]
            } } }
          },
          "304": { "$ref": "#/components/responses/NotModified" },
          "503": { "$ref": "#/components/responses/NotReady" }
        }
      }
    }
  },
  "components": {
    "parameters": {
      "IfNoneMatch": {
        "name": "If-None-Match", "in": "header", "required": false,
        "schema": { "type": "string" },
        "description": "The dataset_version (as a quoted ETag) from your last fetch. Returns 304 if unchanged."
      }
    },
    "headers": {
      "ETag": { "description": "The dataset_version, quoted. Use as If-None-Match next time.", "schema": { "type": "string" } },
      "CacheControl": { "description": "public, max-age=300, stale-while-revalidate=3600", "schema": { "type": "string" } }
    },
    "responses": {
      "NotModified": { "description": "Your copy is current (ETag matched). No body." },
      "NotFound": { "description": "Unknown id or route.", "content": { "application/json": { "schema": { "allOf": [{ "$ref": "#/components/schemas/Envelope" }, { "type": "object", "properties": { "data": { "type": "object", "properties": { "error": { "type": "string", "const": "not_found" } } } } }] } } } },
      "NotReady": { "description": "The dataset has not been built yet (before the first cron tick). Retry shortly.", "content": { "application/json": { "schema": { "allOf": [{ "$ref": "#/components/schemas/Envelope" }, { "type": "object", "properties": { "data": { "type": "object", "properties": { "error": { "type": "string", "const": "not_ready" } } } } }] } } } }
    },
    "schemas": {
      "Envelope": {
        "type": "object",
        "required": ["schema", "generated_at", "dataset_version", "recently_updated_days", "data"],
        "properties": {
          "schema": { "type": "integer", "const": 1, "description": "Envelope schema version." },
          "generated_at": { "type": ["string", "null"], "format": "date-time", "description": "When the dataset was last built." },
          "dataset_version": { "type": ["string", "null"], "description": "Content hash; the ETag value." },
          "recently_updated_days": { "type": "integer", "description": "The recency window in days: a location's recently_updated bool is true when its Nexus update is within this many days. Published so clock-having consumers (and UI text) read the rule instead of hardcoding it." },
          "data": { "description": "Route-specific payload." }
        }
      },
      "Location": {
        "type": "object",
        "description": "Core location record fields (shared by every representation).",
        "required": ["id", "name", "nexus_id", "coordinates", "category", "tags", "authors", "source", "district"],
        "properties": {
          "id": { "type": "string", "description": "UUID (manual) or nexus-<nexus_id> (auto).", "example": "nexus-27618" },
          "name": { "type": "string" },
          "nexus_id": { "type": "string", "description": "Numeric Nexus id, or WIP / Dummy.", "example": "27618" },
          "coordinates": { "type": "array", "items": { "type": "number" }, "minItems": 2, "maxItems": 3, "description": "Raw CET world [X, Y, Z].", "example": [-2229.57, 3618.96, 12.22] },
          "yaw": { "type": "number", "description": "Player facing in degrees (optional)." },
          "category": { "type": "string", "enum": ["location-overhaul", "new-location", "other"] },
          "tags": { "type": "array", "items": { "type": "string" } },
          "authors": { "type": "array", "items": { "type": "string" } },
          "source": { "type": "string", "enum": ["manual", "auto"] },
          "district": { "type": "string", "description": "Never null (defaults to Badlands)." },
          "subdistrict": { "type": ["string", "null"] }
        }
      },
      "LocationFull": {
        "description": "The single location representation served by /v1/locations and /v1/locations/{id}.",
        "allOf": [
          { "$ref": "#/components/schemas/Location" },
          { "type": "object", "required": ["recently_updated"], "properties": {
            "recently_updated": { "type": "boolean", "description": "Server-computed: true when updated_at is within recently_updated_days (see envelope). Polyfill for the clockless in-game consumer; the website reads it too." },
            "description": { "type": "string" },
            "credits": { "type": "string" },
            "thumbnail_url": { "type": ["string", "null"], "description": "Nexus thumbnail image URL, or null (unknown / WIP / Dummy)." },
            "picture_url": { "type": ["string", "null"], "description": "Nexus full-size image URL, or null." },
            "updated_at": { "type": ["string", "null"], "format": "date-time", "description": "Nexus last-updated timestamp, or null." },
            "archives": { "type": "array", "items": { "type": "string" }, "description": "The mod's detectable install files: .archive load files AND .xl (ArchiveXL) files, both of which land in archive/pc/mod/ and are readable by an in-game mod (.xl is the only fingerprint a removal-only mod has). Bare filenames, not paths. Match against the player's archive/pc/mod/ folder to detect installed location mods. Excludes CET/AMM .json files (they load into CET's sandboxed folder and are not readable by other mods). Empty when not determinable (an AMM-only mod, a WIP/Dummy entry with no Nexus page, a mod whose Nexus file preview is unavailable, or not yet fetched by the cron) — never 'ships nothing'.", "example": ["Atari Canyon AIO.archive", "atari_aio.xl"] }
          } }
        ]
      },
      "District": {
        "type": "object",
        "required": ["id", "name", "boundary", "subdistricts"],
        "properties": {
          "id": { "type": ["string", "null"] },
          "name": { "type": "string" },
          "centroid": { "$ref": "#/components/schemas/Point" },
          "boundary": { "type": "array", "items": { "type": "number" }, "description": "Flattened ring [x1,y1,x2,y2,...] in CET." },
          "subdistricts": { "type": "array", "items": { "$ref": "#/components/schemas/Subdistrict" } }
        }
      },
      "Subdistrict": {
        "type": "object",
        "required": ["id", "name", "boundary"],
        "properties": {
          "id": { "type": ["string", "null"] },
          "name": { "type": "string" },
          "canonical": { "type": "boolean" },
          "centroid": { "$ref": "#/components/schemas/Point" },
          "boundary": { "type": "array", "items": { "type": "number" } }
        }
      },
      "Point": { "type": ["object", "null"], "properties": { "x": { "type": "number" }, "y": { "type": "number" } } },
      "Meta": {
        "type": "object",
        "description": "Operational health flags only; the API serves no aggregate counts. Derive any counts you need from the location records.",
        "properties": {
          "discovery_stale": { "type": "boolean", "description": "True if the last Nexus refresh failed and the dataset is being served from last-known-good." },
          "skipped": { "type": "array", "items": { "type": "object", "properties": { "nexus_id": { "type": "string" }, "name": { "type": "string" } } }, "description": "Mods tagged NCZoning whose metadata block did not parse." }
        }
      }
    }
  }
}
